body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(254, 191, 154, 1) 0%,
    rgba(247, 50, 24, 1) 100%
  );
  background-size: auto;
  background-repeat: no-repeat;
  font-family: "Roboto Slab", serif;
  margin: 0;
}
h1 {
  color: #153c6d;
  font-size: 2rem;
  display: inline-block;
  position: relative;
  text-shadow: 1px 1px 3px #000;
  margin-bottom: 40px;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 90%;
  height: 2px;
  background-color: #153c6d;
  box-shadow: 1px 1px 3px #000;
}

.form-container {
  background-color: #ffff;
  width: 100%;
  height: auto;
  max-width: 600px;
  padding: 30px 20px;
  margin: 30px;
  border-radius: 1rem;
  box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 60%);
}
form {
  padding: 0 20px;
  max-width: 100%;
}

.number {
  width: 40px;
  height: 40px;
  display: flex;
  color: #ffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #153c6d;
  margin: 0 5px;
}

fieldset {
  border: none;
  border-top: 1px solid #000;
  margin-bottom: 10px;
}
legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.25rem;
}

.input-container input,
select,
#details {
  width: 100%;
  height: 3rem;
  font-size: large;
  background-color: rgb(232, 238, 239);
  border: none;
  padding-left: 10px;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}
p {
  line-height: 0;
  margin-top: 0;
  font-style: italic;
}

textarea {
  width: 100%;
  min-height: 10rem;
  font-size: large;
  background-color: rgb(232, 238, 239);
  border: none;
  padding: 10px;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  box-sizing: border-box;
  resize: vertical;
}

.dev-skills {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 100%;
  height: 3rem;
  font-size: large;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.buttons .submit {
  background-color: rgb(21, 60, 109);
  color: #fff;
  font-size: 1.25rem;
}
.buttons .reset {
  background-color: #ffff;
  color: rgb(255, 34, 0);
  font-size: 1.25rem;
  border: 1px solid #000;
}
.site-footer {
  position: relative;
  text-align: right;
  width: 100%;
  bottom: 10px;
  right: 20px;
  font-size: 16px;
}
